spring:
  application:
    name: E-Commerce
  main:
    banner-mode: off
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://ep-still-cherry-a1ttr2wv.ap-southeast-1.aws.neon.tech/E-commerce
    username: E-commerce_owner
    password: uXmbpBJ6wCg3

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          batch_size: 50
        default_batch_fetch_size: 50
    open-in-view: true
  jackson:
    default-property-inclusion: non_null